<div class="row">
    <div class="col-md-6 col-md-offset-3 table-responsive">
        <h2 class="text-center">{Ballot Receipt}</h2>

        <table class = "table table-striped">
            <thead>
                <th>
                    UUID
                </th>
                <th>
                    Ticket
                </th>
            </thead>
            <tbody>
            <tr> 
                <td>
                    {{uuid}}
                </td>
                <td>
                    {{ticket}}
                </td>
            </tr> 
            </tbody>
        </table>


        <a href="#/result/" target="_blank"><button class="btn btn-default"> View Election Result </button></a>
    </div>
</div>
